@charset "utf-8";
/* ---------------------------------------------------------------------- */
/* contact list view
/* ---------------------------------------------------------------------- */
/***=== .contact-list-mailbox ===***/
.contact-list-mailbox {
	margin:0 15px;
}
.contact-list-wrapper {
	float:left;
	width:310px;
	min-height:300px;
	margin:0 0px 0 0;
	padding:0 0 0 0px;
	position:relative;
}
#contact-list {
}
#contact-list .loader-indicator {
	position:absolute;
	left:80px;
	top:50%;
	display:none;
}
#contact-list .empty {
	display:block;
	margin-top:15px;
	text-align:center;
}
#contact-list .actions-wrapper {
	border-bottom: solid 1px #CCC;
	padding:0px 5px 0 5px;
	height:40px;
}
#contact-list .actions-wrapper .button-checkbox {
	display:inline-block;
	float:left;
	margin-top:14px;
}
#contact-list .button-checkbox {
	color:#8b8b8b;
}
#contact-list .btn-group {
	margin:12px 15px 0 0;
}
#contact-list .btn-group > a{
	color: #222;
	font-size:13px;
}
#contact-list .btn-group > a:hover {
	text-decoration:none;
	color: #427538;
}
#contact-list .dropdown-menu {
	min-width: 180px;
}
#contact-list .dropdown-menu .icon {
	margin-right:4px;
	display:none;
}
#contact-list .dropdown-menu a.checked {
	color:#333;
}
#contact-list .dropdown-menu a.checked .icon {
	display:inline-block;
}
ul.contacts-items li {
	padding: 10px 5px 8px 5px;
	border-bottom: solid 1px #ddd;
	font-size:13px;
}
ul.contacts-items li.selected {
	cursor: pointer;
	border-color:#CCC;
	background-color:#eee;
}
ul.contacts-items li.hover {
	cursor: pointer;
	background-color:#f3f3f3;
	border-color:#CCC;
}
ul.contacts-items li spam.cUser{
	margin:0 0 0 10px;
	display:block;
	float:left;
}
ul.contacts-items li .button-checkbox {
	float:left;
	margin:2px 0 0 0;
}


/***=== contact-list-dialog ===***/
.contact-list-dialog .available-list {
	float:left;
	width:310px;
	margin:0 0px 0 0;
	padding:0 0 0 0px;
}

.contact-list-dialog .selected-list {
	float:left;
	width:310px;
	margin:0 0px 0 0;
	padding:0 0 0 0px;
}



