@charset "utf-8";
/* CSS Document */
/* ---------------------------------------------------------------------- */
/* Shop view pages
/* ---------------------------------------------------------------------- */
.box_shop_content {
	background: url(../images/elements/shop-view/bk-shop-header-yellow.png) repeat-x 0 0px;
	border-radius:3px;
	border-top-left-radius:0;
	border: solid 1px #CCC;
	padding:5px 0 0px 0;
}
/* tabs navigation */
ul#tabnav-shop {
	text-align: left;
	margin: 10px 4px 0 4px;
	font-family:inherit;
	font-size:12px;
	text-shadow:none;
	list-style-type: none;
	padding: 3px 10px 7px 15px;
}
ul#tabnav-shop li {
	display: inline;
	border-bottom: 1px solid #fff;
}
ul#tabnav-shop li.active a {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	background-color: #fff;
	box-shadow: none;
	color: #41633d;
	position: relative;
	top: 1px;
	padding-top: 11px;
	border-color:#ccc;
	font-weight:bold;
	padding: 13px 14px 9px 14px;
}
ul#tabnav-shop li a {
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	padding: 12px 14px 9px 14px;
	border: 1px solid #ddd;
	background-color:#f2f2f2;
	color: #4d7548;
	margin-right: 0px;
	text-decoration: none;
	border-bottom: none;
	font-weight: bold;
}
ul#tabnav-shop a:hover {
	text-decoration:none;
	background: #FFF;
	box-shadow: none;
	border-color:#CCC;
}
.tabnav-shop-body {
	margin:0 0px 0px 0px;
	padding:0;
	border-top:solid 1px #ccc;
	padding:15px 15px 10px 15px;
	background-color:#FFF;
}
.shop-page h2 {
	padding:2px 3px;
	color:#333;
	font-size:18px;
}
.shop-page .description {
	margin:10px 0;
	padding:0;
	color:#666
}
.shop-page .info-desc {
	margin-top:20px;
	border-top: solid 1px #ddd;
}
.shop-page .info-desc .row {
	border-bottom: solid 1px #ddd;
	padding:5px 0;
	margin:0;
}
.shop-page .info-desc .odd {
	background:#f2f2f2
}
.shop-page .info-desc .label {
	display:inline-block;
	width:150px;
	font-weight:bold;
	text-align:right;
	margin-right:10px;
	vertical-align:top;
}
.shop-page .info-desc .data {
	display:inline-block;
	width:390px;
}

.shop-page #selected-products {
}
.shop-page ul.products_selected_list {
	margin-left:5px;
	margin-top:5px;
}
.shop-page ul.products_selected_list li {
	display: inline-block;
	margin-left:10px;
}
.shop-page ul.products_selected_list li .thumbnail img {
	border-radius:3px;
	border: 1px solid #a4d29b;
	padding:3px;
	height:114px;
	width:114px;
}
.shop-page ul.products_selected_list li .data {
	width:108px;
	margin:3px auto;
	text-align:center;
}
.shop-page ul.products_selected_list li a {
	font-weight:normal;
	color:#508445
}
.shop-page ul.products_selected_list li a:hover {
	text-decoration:none;
	color:#0b710f
}
.shop-page #contact-b .row {
	margin:4px 10px 1px 10px;
}
.shop-page #contact-b .label {
	display:inline-block;
	width:150px;
	font-weight:bold;
	text-align:right;
	margin-right:5px;
	vertical-align:top;
	border-top-left-radius:3px;
	background-color:#eee;
	padding:3px 10px 3px 3px;
}
.shop-page #contact-b .data {
	display:inline-block;
	width:356px;
	padding:3px 3px 3px 3px;
}

/* ---------------------------------------------------------------------- */
/* Shop sidebar
/* ---------------------------------------------------------------------- */
#sidebar {
	margin-right:1px;
}
.box_shop_sidebar {
	border: solid 1px #ccc;
	background: url(../images/elements/shop-view/bk-shop-sidebar-yellow.png) repeat-y #e7ffc0 top right;
	padding:0px 0 5px 0;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.box_shop_sidebar h1.cname {
	font-size:18px;
	margin:5px 0px 5px 0px;
	padding:0px;
	color:#222;
	text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
.box_shop_sidebar h2 {
	font-size:20px;
	margin:10px;
	padding:5px;
}
.box_shop_sidebar h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	margin:0px 10px 5px 10px;
	color:#444;
	font-size:13px;
}
.box_shop_sidebar h3.h-icon {
	padding: 0 0 0 16px;
	background: url(../images/icons/action-colors/green/arrow-down-14.png) no-repeat 0 5px;
}
.box_shop_sidebar .row {
	margin:0px 0 0 0;
	border-bottom: solid 1px #ccc;
	border-top: solid 1px #fff;
	padding:10px 0;
}
.box_shop_sidebar .row.first {
	border-top: 0;
}
.box_shop_sidebar .row.l-green {
	background:#dfefdb;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
	border-bottom-color: #ccdac9;
}
.box_shop_sidebar .row.last {
	border-bottom: 0;
}
.box_shop_sidebar .row.white-s {
	background-color:#FFF;
}
.box_shop_sidebar .info {
	padding:3px 0;
	margin:3px 10px 0 10px;
	color:#555;
	border-bottom: 1px dotted #ccc;
}
.box_shop_sidebar .info.last {
	border-bottom: 0;
}
.box_shop_sidebar .info .label {
	width:120px;
	display:inline-block;
	text-align:right;
	margin-right:10px;
	vertical-align:top;
	font-weight:bold;
	color:#666
}
.box_shop_sidebar .info .data{
	display:inline-block;
	width:190px;
	color:#333;
}
.box_shop_sidebar .row .img_rounded {
	margin: 0 0 0 10px;
}
.box_shop_sidebar .row .img_rounded img {
	width:116px;
	height:116px;
}
.box_shop_sidebar p {
	margin:5px 10px;
}
.box_shop_sidebar a.premium-l {
	margin:0;
	display:inline-block;
	padding: 2px 0 0 22px;
	background:url(../images/icons/action-colors/green/premium-18.png) no-repeat left 1px;
	color:#555;
	text-decoration:none;
}
.box_shop_sidebar .rating-avg {
	margin-top:10px;
}
.box_shop_sidebar .actions {
	padding-top:5px;
	text-align:center;
}
.box_shop_sidebar .actions .btn-s {
	margin-bottom:10px;
}
.box_shop_sidebar .actions .hidden {
	display:none;
}
.box_shop_sidebar .actions .active {
	display:block;
}
/* favorite btn */
.box_shop_sidebar .favorite-btn span.text {
	padding: 5px 8px 5px 28px;
	font-weight:bold;
	position:relative;
	min-width:170px;
}
.box_shop_sidebar .favorite-btn .icon {
	position:absolute;
	top:0px;
	left:0;
	height:24px;
	width:24px;
	background-position:6px 5px;
	background-repeat:no-repeat;
}
.box_shop_sidebar .favorite-btn.add .icon {
	background-image:url(../images/icons/action-colors/white/heart-plus-16.png);
}
.box_shop_sidebar .favorite-btn.delete span.inner {
	background: #768266;
}
.box_shop_sidebar .favorite-btn.delete span.text {
	box-shadow: 0 0 2px 1px #809b59 inset;
	background: #96a581;
}
.box_shop_sidebar .favorite-btn.delete .icon {
	background-image:url(../images/icons/action-colors/white/heart-minus-16.png);
}
/* reviews btn */
.box_shop_sidebar .reviews-btn span.text {
	padding: 5px 8px 5px 28px;
	font-weight:bold;
	position:relative;
	min-width:170px;
}
.box_shop_sidebar .reviews-btn .icon {
	position:absolute;
	top:0px;
	left:0;
	height:24px;
	width:24px;
	background-position:6px 5px;
	background-repeat:no-repeat;
	background-image:url(../images/icons/action-colors/white/chat-16.png);
}

.box_shop_sidebar .row .loader{
	background:url(../images/elements/loaders/loader-16.gif) no-repeat top left;
	width:16px;
	height:11px;
	margin:5px auto;
	display:none;
}
.box_shop_sidebar ul#c-navigation {
	background: #527e49;
	margin:15px 0;
	padding:5px 0;
}
.box_shop_sidebar ul#c-navigation li {
	margin:3px 20px;
	border-bottom: 1px solid #6a9f5f;
	padding: 2px 2px 2px 2px
}
.box_shop_sidebar ul#c-navigation li a {
	background:url(../images/icons/action-colors/green/arrow-square-9.png) no-repeat right 4px;
	display:block;
	font-weight:bold;
}
.box_shop_sidebar ul#c-navigation li a.open {
	background:url(../images/icons/action-colors/green/arrow-down-square-9.png) no-repeat right 4px;
}
.box_shop_sidebar ul#c-navigation li ul{
	margin:5px 0;
	padding:0;
}
.box_shop_sidebar ul#c-navigation li ul li {
	margin:0;
	padding: 2px 0px 2px 0px;
	border-bottom: 1px dotted #6a9f5f;
}
.box_shop_sidebar ul#c-navigation li ul li.last {
	border-bottom: 0;
}
.box_shop_sidebar ul#c-navigation li ul li a{
	background: url(../images/icons/action-colors/green/arrow-9.png) no-repeat left 3px;
	padding-left:15px;
	font-weight:normal;
}

/*** Shop items-list ***/
#product_results h2 {
	margin:5px 0 10px 3px;
}
#items-shop-single  .summary {
	margin:0 0 0 5px;
	padding:0;
	text-align: left;
}
#items-shop-single ul.items-list li{
	border-radius:3px;
	border: 1px solid #ddd;
	margin:10px 0;
}
#items-shop-single ul.items-list li .thumbnail {
	width:120px;
	float:left;
	border-right: solid 1px #ddd;
	padding:10px;
}
#items-shop-single ul.items-list li .thumbnail img {
	width:120px;
	height:120px;
}
#items-shop-single ul.items-list li .data-wrap {
	width:396px;
	float:right;
	margin-right:10px;
}
#items-shop-single .data-wrap h3 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",  Helvetica, Arial, sans-serif;
	font-weight: 600;
	margin: 15px 0 0 0;
	padding:0;
	font-size:13px;
	letter-spacing:0.01em;
	line-height:16px;
	overflow:hidden;
}

#items-shop-single .data-wrap .bottom-bar {
	margin-top:15px;
}
#items-shop-single .data-wrap .bottom-bar .price {
	float:left;
	width:240px;
}
#items-shop-single .bottom-bar .price .old-p,
#items-shop-single .bottom-bar .price .regular {
	display:inline-block;
	margin-right:10px;
}
#items-shop-single .bottom-bar .price .regular {
	font-size:18px;
}
#items-shop-single .bottom-bar .price .regular .data {
	font-weight:bold;
}
#items-shop-single .bottom-bar .price .old-p {
	color:#888;
	text-decoration:line-through;
}

#items-shop-single .bottom-bar #btn-view {
	float:right;
}
#items-shop-single .bottom-bar #btn-view span.text {
	position:relative;
	padding-right:30px;
}
#items-shop-single .bottom-bar #btn-view .icon-arrow {
	border-left: solid 1px #59984b;
	width:23px;
	height:24px;
	position:absolute;
	top:-1px;
	right:-4px;
	border-top-left-radius:0;
	border-bottom-left-radius:0;
	background:url(../images/icons/action-colors/white/arrow-r-14.png) no-repeat 4px 5px;
}

/* ---------------------------------------------------------------------- */
/* Shop item view
/* ---------------------------------------------------------------------- */

.item-view {
	color:#555;
	margin:0px 0 0px 0;
}
.item-view h1 {
	color:#3e8d2f;
	margin: 10px 5px 20px 5px;
	font-size:17px;
	border-bottom: 1px dashed #ddd;
	padding:3px 0 5px 2px;
	line-height:21px;
}
.item-view h2 {
	margin:0px 0 15px 0;
	padding:3px 0 3px 3px;
	border-bottom: solid 1px #ddd;
	font-size:15px;
	font-weight:bold;
	color:#444;
}
/* item details */
.item-view .item_details {
	margin-left:10px;
	margin-top:10px;
}
.item-view .row {
	margin-bottom:3px;
}
.item-view .row.price {
	margin-top:5px;
}
.item-view .row .data_label {
	display:inline-block;
	margin-right:10px;
	width:90px;
	padding:3px;
	text-align:right;
	vertical-align: top;
	color:#666;
}
.item-view .row .data_name {
	display:inline-block;
	font-weight:bold;
	color:#444;
	padding:3px;
}
.item-view .row.price .data_name {
	font-size:26px;
}
.item-view .row.price span.currency {
	font-weight:normal;
}
.item-view .actions {
	margin-top:15px;
	margin-left: 7px;
	padding:10px;
	background-color:#eee;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.item-view .actions .btn-s {
	margin:8px 0;
}
.item-view .actions .btn-t {
	margin-top:10px;
}
/*** favorite btn ***/
.item-view .actions a.favorite {
	padding:3px 5px;
	margin-top:10px;
	display:inline-block;
}
.item-view .actions a.favorite:hover {
	text-decoration:none;
	color:#1a901f;
}
.item-view .actions a.favorite .inner {
	margin-left:6px;
	padding:4px 3px;
	border: solid 1px #6c9230;
	color:#FFF;
	border-radius:3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 1px #a0c965 inset;
	background: #85ac4d;
}
.item-view .actions a.favorite .inner .icon {
	display:inline-block;
	width:16px;
	height:16px;
	line-height:11px;
	vertical-align:text-top;
}
.item-view .actions a.favorite .counter {
	display:inline-block;
	position:relative;
	padding:2px 6px;
	margin:0 0 0 6px;
	border-radius:2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: solid 1px #7ba738;
	font-size:11px;
	line-height: 12px;
	background: #fff;
	color:#555
}
.item-view .actions a.favorite .counter:after {
	content:' ';
	display: block;
	position: absolute;
	top: 6px;
	left:-3px;
	width: 4px;
	height: 4px;
	border-color:#7ba738;
	border-width: 1px;
	border-style: none none solid solid;
	background-color: #fff;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
}

/* favorite plus btn */
.item-view .actions a.favorite.add .icon {
	background:url(../images/icons/action-colors/white/heart-plus-16.png) no-repeat 0px 0px;
}

/* favorite plus btn */
.item-view .actions a.favorite.delete .inner {
	border: solid 1px #768266;
	box-shadow: 0 0 2px 1px #809b59 inset;
	background: #96a581
}
.item-view .actions a.favorite.delete .icon {
	background:url(../images/icons/action-colors/white/heart-minus-16.png) no-repeat 0px 0px;
}
.item-view .actions a.favorite.delete .counter,
.item-view .actions a.favorite.delete .counter:after
{
	border-color:#768266;
}
.item-view .actions .row {
	text-align:center;
	border-bottom: solid 1px #ddd;
	padding:5px 0px 5px 0;
}
.item-view .actions .row.hidden {
	display:none;
}
.item-view .actions .row.active {
	display:block;
}
.item-view .actions .row.last {
	border-bottom: 0;
}
.item-view .actions .row p {
	margin:0;
	padding:0;
	font-size:14px;
}
.item-view .actions .row .loader{
	background:url(../images/elements/loaders/loader-16.gif) no-repeat top left;
	width:16px;
	height:11px;
	margin:5px auto;
	display:none;
}
.item-view #item-description {
	margin-bottom:20px;
}

/* item categories */
.item-view ul#product-categories {
	margin:0 0 0 0px;
}
.item-view ul#product-categories li {
	padding:0 0 0 0px;
}
.item-view ul#product-categories li span {
	margin: 0 3px;
	background: url(../images/icons/arrow-nav-cat-s.png) no-repeat 3px 4px;
	height:5px;
	width:4px;
	padding:3px;
	display:inline-block;
}


/* item view gallery view */
#item-gallery .img-view {
	background-color:#fff;
	padding:9px;
	border: solid 1px #ddd;
	margin: 0 auto;
}
#item-gallery .zoom-img {
	background-color:#eee;
	text-align:center;
	padding:5px 0;
	margin:0 auto;
	border: solid 1px #ddd;
	border-top:0;
}
#item-gallery .zoom-img a {
	font-weight:bold;
	color:#333;
	text-decoration:none;
	background: url(../images/icons/action-colors/grey/zoom-13.png) no-repeat 0 2px;
	padding:2px 0 3px 18px;
}
#item-gallery .zoom-img a:hover {
	color:#30900a;
}
#item-gallery .gallery-thumbs {
	margin-top:10px;
}
#item-gallery .gallery-thumbs ul {
	text-align:center;
}
#item-gallery .gallery-thumbs ul li {
	margin-left:6px;
	display:inline-block;
}
#item-gallery .gallery-thumbs ul li.first {
	margin-left:0;
}
#item-gallery .gallery-thumbs ul li a {
	display:block;
	padding:1px;
	border: solid 1px #ddd;
}
#item-gallery ul li a.current, #item-gallery ul li a:hover {
	border: solid 1px #69bb5d;
}
#item-gallery .gallery-thumbs ul li img {
	width:60px;
	height:60px;
}
#item-gallery .img-view img {
	width:250px;
	height:250px;
}

/* ---------------------------------------------------------------------- */
/* Reviews page
/* ---------------------------------------------------------------------- */
#reviews_results {
	margin-top:10px;
}
#reviews_results span.empty {
	display:block;
	text-align:center;
}
#reviews_results .header {
	background-color:#eee;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	padding:8px;
}
#reviews_results .header .summary {
	float:left;
	margin:4px 0 0 5px;
	padding:0;
	font-size:14px;
	font-weight:bold;
	color: #444;
}
#reviews_results .header .sorter-wrap {
	float:right;
}
#items-shop-reviews .yiiPager {
	display:none;
}
#items-shop-reviews .yiiPager {
	display:none;
}
ul.reviews-list {
	margin:15px 0;
	padding:0;
}
ul.reviews-list li.first {
	margin-top:5px;
}
ul.reviews-list li {
	margin-bottom:5px;
	border-bottom: dashed 1px #ccc;
	padding:15px 0;
}
ul.reviews-list li .thumbnail {
	float:left;
	padding: 0px;
	background-color:#eee;
	border: solid 1px #e2e2e2;
	width:90px;
	padding:3px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
ul.reviews-list li .thumbnail img {
	width:90px;
	height:90px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
ul.reviews-list li .data-wrap {
	float:right;
	width:450px;
	margin:0;
}
ul.reviews-list li .author {
	font-size:13px;
}
ul.reviews-list li .content {
	margin-top:10px;
	color:#777;
	display:block;
	word-wrap: break-word;
}
ul.reviews-list li .vote-wrap {
	margin-top:10px;
}
ul.reviews-list li .vote-wrap label {
	font-size:11px;
}
ul.reviews-list li .vote-input {
	display:inline-block;
}

ul.reviews-list li .bottom-bar {
	margin-top:8px;
	text-align:right;
}
ul.reviews-list li .bottom-bar .label,
ul.reviews-list li .bottom-bar .response,
ul.reviews-list li .bottom-bar .separator {
	display:inline;
	margin-right:5px;
	vertical-align:top;
	line-height:26px;
}
ul.reviews-list li .bottom-bar .response {
	color:#777;
	font-size:11px;
}

ul.reviews-list li .bottom-bar .vote-btns {
	display:inline-block;
	margin:0 0 0 5px;
}
ul.reviews-list li .bottom-bar .hidden {display:none;}
ul.reviews-list li .bottom-bar .active {display:inline;}
ul.reviews-list li .bottom-bar .vote-btns.active {

	display:inline-block;
}

ul.reviews-list li .bottom-bar .t-up,
ul.reviews-list li .bottom-bar .t-down {
	position:relative;
	box-shadow: none;
	margin:0;
	float:left;
}
ul.reviews-list li .bottom-bar .t-up span {
	border-top-right-radius:0;
	-webkit-border-top-right-radius: 0;
	-moz-border-top-right-radius: 0;
	border-bottom-right-radius:0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-bottom-right-radius: 0;
}
ul.reviews-list li .bottom-bar .t-down span {
	border-top-left-radius:0;
	-webkit-border-top-left-radius: 0;
	-moz-border-top-left-radius: 0;
	border-bottom-left-radius:0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-bottom-left-radius: 0;
}
ul.reviews-list li .bottom-bar .t-up .icon,
ul.reviews-list li .bottom-bar .t-down .icon {
	position:absolute;
	height:13px;
	width:18px;
	right:2px;
	top:5px;
    margin-right: 0;
}
ul.reviews-list li .bottom-bar .t-up .text,
ul.reviews-list li .bottom-bar .t-down .text {
	text-transform:uppercase;
	font-weight:bold;
	padding-right:26px;
	color:#777;
	font-size:11px;
}
ul.reviews-list li .bottom-bar .t-up .text {
	margin-right:-1px;
}
ul.reviews-list li .bottom-bar .t-up .icon {
	background:url(../images/elements/vote/thumb-vote.png) no-repeat top left;
}
ul.reviews-list li .bottom-bar .t-down .icon {
	background:url(../images/elements/vote/thumb-vote.png) no-repeat bottom left;
	top:7px;
}
ul.reviews-list li .bottom-bar a.isSpam {
	margin-left:10px;
	color:#555;
	display:inline;
	vertical-align:top;
	line-height:26px;
	text-decoration:underline;
}

